.about__container {
    padding-inline: 6rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    margin-top:3rem;
}

.about_page{
    margin-left:3rem;
    margin-right:3rem;
}

/* Mobile */
@media only screen and (width <= 768px) {
    .about__container {
          padding-inline: 0;
    }
}