.collapse {
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
}

.collapse_content {

    padding: 1.25rem;
    background-color: #F7F7F7;
    border-radius: 0.3rem;
    position: relative;
    bottom: 0.3rem;
    height: 100%;
    font-weight: normal;
    font-size: 1.12rem;

}

.collapse_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FF6060;
    border: none;
    color: white;
    border-radius: 5px;
    height: 3.1rem;
    position: relative;
    z-index: 10;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Animations */
@keyframes open {
    0% {
        opacity: 0;
        max-height: 0;
        transform: translateY(-70px);
    }

    100% {
        opacity: 1;
        max-height: 400px;
        transform: translateY(0);
    }
}

@keyframes close {
    0% {
        opacity: 1;
        max-height: 400px;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        max-height: 0;
        transform: translateY(-70px);
    }
}

.collapse[animation="1"]>.collapse_content {
    animation: open 300ms;
}

.collapse[animation="0"]>.collapse_content {
    animation: close 300ms ease-in-out;
}

.arrow[animation="0"] {
    transform: rotate(360deg);
    transition: transform 300ms;
    cursor: pointer;
}


.arrow[animation="1"] {
    transform: rotate(180deg);
    transition: transform 300ms;
    cursor: pointer;
}

/* MOBILE */
@media (max-width: 580px) {
    .collapse {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .collapse_bar {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        height: 1.8rem;
    }

    .arrow {
        height: 1.25rem;

    }

    .title {
        font-weight: 500;
        font-size: 1rem;
    }

    .collapse_content {
        padding: 1.25rem 1.25rem 0.6rem 1.25rem;
    }
}