.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.12rem;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    text-decoration: none;
}

h2 {
    font-weight: normal;
}

a {
  text-decoration: none;
  color:inherit;
}

a:hover {
    text-decoration: underline;
  }
  




/* Mobile */
@media only screen and (width <=768px) {
    .logo {
        width: 9rem;
        height:3.2 rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}

@media only screen and (width <=500px) {
    nav {
        gap: 1.5rem;
    }
}



@media only screen and (width <=425px) {
    .logo {
        width: 6rem;
        height: 2rem;
    }
    nav{
        gap:1rem;
    }

    h2 {
        font-size: 1rem;
    }
}