h1 {
    font-weight: 500;
    margin-block: 0;
    font-size: 2.25rem;
    color: #ff6060;
}

p {
    font-weight: 500;
    font-size: 1.12rem;
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
    color: black;
}

h3 {
    font-size: 1.12rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 500;
    color: #ff6060;
}

.apartment_header {
    display: flex;
    margin-bottom: 1rem;
}

.apartment_title {
    flex-grow: 1;
}

.apartment_owner_details {
    display: flex;
    gap: 0.5rem;
}

.apartment_owner_badge img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(220, 217, 217);
}

.apartment_owner_stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: rgb(220, 220, 220);
}

.apartment_owner_stars .on {
    color: #ff6060;
}

.apartment_tags {
    display: flex;
    gap: 0.5rem;
}

.apartment_tags div {
    background-color: #ff6060;
    color: white;
    padding: 0.2em 1em;
    border-radius: 0.5rem;
    font-size: 0.87rem;
    font-weight: bold;
}

/* Mobile */
@media only screen and (width <=768px) {
    .apartment_header {
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        font-size: 21px;
        font-weight: 500;
    }

    h3 {
        display: flex;
        font-size: 12px;
    }

    p {
        font-size: 15px;
    }

    .apartment_tags {
        display: flex;
        gap: 0.5rem;
    }

    .apartment_tags div {
        font-size: 12px;
        text-align: center;
    }

    .apartment_owner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .apartment_owner_details {
        order: 1;
        gap: 0.3rem;
        line-height: 100%;
    }

    .apartment_owner_badge img {
        width: 35px;
        height: 35px;
    }

    .apartment_owner_stars {
        font-size: 1.5rem;
    }
}

@media only screen and (width <=480px) {
    h1 {
        font-size: 18px;
        padding-bottom: 0.3rem;
    }

    .apartment_tags div {
        font-size: 12px;
    }
}